@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

.EmojiPickerReact.epr-dark-theme {
  background-color: theme("colors.gray.800");
}

.EmojiPickerReact.epr-dark-theme .epr-emoji-category-label {
  background-color: theme("colors.gray.800");
}

.conversation-item .avatar.online:before,
.conversation-item .avatar.offline:before {
  width: 8px;
  height: 8px;
  top: 1%;
  right: 1%;
  outline-width: 1px;
}

.chat-message-content > * {
  margin: 0 0 8px 0;
  line-height: 1.6;
}

.chat-message-content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.chat-message-content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.chat-message-content h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.chat-message-content blockquote {
  padding: 12px;
  margin-left: 15px;
  border-left: 4px solid #3d718a;
  border-radius: 4px;
}

.chat-message-content pre {
  background-color: rgb(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  overflow: auto;
  font-size: 90%;
}

.chat-message-content code {
  background-color: rgb(0, 0, 0, 0.1);
  color: #374ba3;
  padding: 3px 8px;
  border-radius: 5px;
  font-family: "Courier New", monospace;
  font-weight: 600;
}

.chat-message-content hr {
  border: none;
  border-top: 1px solid #909090;
  margin: 12px 0;
}
.chat-message-content pre code {
  background-color: transparent;
}
.chat-message-content ul,
.chat-message-content ol {
  padding-left: 20px;
}

.chat-message-content ul {
  list-style-type: disc;
}

.chat-message-content ol {
  list-style-type: decimal;
}

.chat-message-content li {
  margin-bottom: 6px;
}

.chat-message-content a {
  color: #3f4fbc;
  text-decoration: none;
  font-weight: 500;
}

.chat-message-content a:hover {
  text-decoration: underline;
}

.chat-message-content figure {
  margin: 15px 0;
  text-align: center;
}

.chat-message-content figcaption {
  font-size: 12px;
  margin-top: 4px;
}

.chat-message-content dl {
  padding: 0;
}

.chat-message-content dt {
  font-weight: bold;
}

.chat-message-content dd {
  margin-left: 20px;
}

.chat-message-content p {
  margin-bottom: 2px;
}

.chat-message-content table {
  width: 100%;
  border-radius: 20px 20px 0 0;

  border-collapse: collapse;
  margin: 0;
}

.chat-message-content th,
.chat-message-content td {
  border: 1px solid #909090;
  padding: 4px;
  text-align: left;
}

.chat-message-content th {
  background-color: rgb(0, 0, 0, 0.3);
  font-weight: 600;
}

.chat-message-content tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat-message-content tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-message-content table {
  display: table;
  width: 100%;
}

.chat-message-content th {
  display: table-cell;
}

.chat-message-content td {
  display: table-cell;
}

/* Loading demo */

.loader {
  display: block;
  --height-of-loader: 3px;
  --loader-color: #1b1b1b;
  width: 200px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
